<a href="https://colab.research.google.com/github/ShayneB-28/BTE320-/blob/main/In_Class_Assignment_Upload_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Finding the surface area of a cylinder
r=3
h=10
pi=3.14

SA=2*pi*r**2 + 2*pi*r*h
print(SA)

244.92000000000002

In [ ]:
#Rock,Paper,Scissors
import random

c=input("Do You Want To Play?")
while c == "yes":
  p1=input("choose rock, paper, or scissors: ")
  #p2=input("choose rock, paper, or scissors:")
  p2= random.choice(["rock","paper","scissors"])


  if p1==p2:
    print("tie")
  elif (p1=="rock" and p2=="scissors") or (p1=="paper" and p2=="rock") or (p1=="scissors" and p2=="paper"):
    print("You win!")
  else:
    print("Computer wins =()")
  c=input("Do You Want To Play Again?")
print("Thanks for playing")

Do You Want To Play?yes
choose rock, paper, or scissors: rock
player 2 wins
Do You Want To Play Again?no
Thanks for playing

In [ ]:
#simple calculator
n1=float(input("Enter a number: "))
n2=float(input("Enter a number: "))
Symbol = input("Choose Operation +,-,*,/,**: ")

if Symbol == "+":
  print(n1+n2)
elif Symbol == "-":
  print(n1-n2)
elif Symbol == "*":
  print(n1*n2)
elif Symbol == "/":
    print(n1/n2)
elif Symbol == "**":
  print(n1**n2)
else:
  print("invalid input")

Enter a number: 12
Enter a number: 2
Choose Operation +,-,*,/,**: **
144.0

In [ ]:
#parking
FR=5

for t in range(1,9):
  charge=FR+(2.5*t)
  if charge<10:
    charge=10.0
  elif charge>20:
      charge=20.0
  print(t,charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
#movie theatre
ticket_price = 10
fixed_cost = 200
fixed_attendees = 20

for ad in range(0,201,25):
  additional_attendees = round(2 * ad ** 0.5)
  profit = (fixed_attendees + additional_attendees) * ticket_price - ad - fixed_cost
  print(ad, profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
l = []

integer = int(input('Give a value:'))

while integer !=0:
  l.append(integer)
  integer = int(input('Give a value:'))

print(l)

Give a value:4
Give a value:3
Give a value:3
Give a value:2
Give a value:1
Give a value:0
[4, 3, 3, 2, 1]

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

portion_down_payment = 0.25
current_savings = 0.0
r = 0.04

down_payment = total_cost * portion_down_payment

monthly_salary = annual_salary / 12

months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved

    if months % 6 == 0 and months != 0:
        annual_salary += annual_salary * semi_annual_raise
        monthly_salary = annual_salary / 12

    months += 1

print(f"Number of months: {months}")

Enter your annual salary: 1000000
Enter the percent of your salary to save, as a decimal: .4
Enter the cost of your dream home: 2500000
Enter the semi-annual raise, as a decimal: .12
Number of months: 17

In [14]:
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print('Parking fee: ','$',fee)

h = int(input('Enter number of hours parked: '))
fee = calcFee(h)
displayFee(fee)

Enter number of hours parked: 3
Parking fee:  $ 12.5